/* Variables
--------------------------------------------- */
@import "./variables/main";


body{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{

    width: 90%;
    max-width: 1200px;
    margin: auto;
}

*{

    box-sizing: border-box;
}

main{

    min-height: 70vh;
}

img{

    max-width: 100%;
    height: auto;
}

#trp-floater-ls.trp-bottom-right{
    display: none !important;
}

/* Components
--------------------------------------------- */
@import "./components/main";


/* Sections
--------------------------------------------- */
@import "./sections/main";


/* Blog
--------------------------------------------- */
@import "./Blog/main";


/* Woocommece
--------------------------------------------- */
@import "./woocommerce/main";


/* Widgets
--------------------------------------------- */
@import "./widgets/widgets";




