

// ** Variables

@import "./variables/variables";

body{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.container{

    width: 90%;
    max-width: 1200px;
    margin: auto;

}

img{
    max-width: 100%;
    height: auto;
}

// ** Components

@import "./components/components";



// ** Sections

@import "./sections/sections"

