body.woocommerce-account{

    main{

        .woocommerce{

            >h2{
                max-width: 500px;
                margin: 2rem auto 0rem;
                text-align: center;
            }

            form.login{
                max-width: 500px;
                margin: 3rem auto;
                padding: 2.7rem 2rem 1rem;
                border: 1px solid #ddd;

                @media (max-width:550px){
                    padding: 1.5rem 1rem .7rem;
                }

                p{

                    &:nth-child(3){
                        display: flex;
                        align-content: center;
                        justify-content: space-between;
                        padding: 1rem 0 0;
                        flex-wrap: wrap;

                        label{
                            width: 100%;
                            display: flex;
                            align-items: center;

                            input{
                                margin: 0;
                                margin-right: 6px;
                                margin-left: 2px;
                            }
                            
                        }

                        button{
                            width: 100%;
                            margin-top: 1.2rem;
                        }
                        &::before,
                        &::after
                        {
                            display: none;
                        }
                    }

                    &.woocommerce-LostPassword{
                        font-size: 13.5px;
                        padding-top: .4rem;

                        a:hover{
                            text-decoration: underline;
                        }
                        @media (max-width:550px){

                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}