.site-loader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100001;
    width: 100vw;
    height: 100vh;
    will-change: transform;
    transition: background .8s cubic-bezier(.86,0,.07,.995);

    &:not(.loader-show){

        pointer-events: none;

        .loader-icon{
            opacity: 0;
            @include siteLoaderOut();
        }
    }

    &.dark{

        .loader-bg{
            background-color: #111 !important;
        }

        .loader-icon{

            img{

                &:first-child{
                    display: none;
                }
                &:last-child{
                    display: block;
                }
            }
        }
    }


    &.loader-show{

        .loader-icon{

            transition: opacity 0.4s 0.5s;
            @include siteLoaderIn();
        }

        .loader-bg{

            transform-origin: bottom;
            transform: scaleY(1);
        }

    }

    .loader-icon{
        position: relative;
        transition: opacity .4s;
        text-align: center;
        z-index: 2;

        img{
            width: 5.5rem;

            &:first-child{
                display: block;
            }
            &:last-child{
                display: none;
            }
        }
    }

    .loader-bg{
        background-color: #fff;
        transition: transform .9s cubic-bezier(.86,0,.07,.995);
        transform: scaleY(0);
        transform-origin: top;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}