
.woocommerce div.product div.images .flex-control-thumbs{

    display: flex;
    flex-wrap: wrap;

    li{
        padding: 14px 14px;
        padding-left: 0;
        width: 25%;


        &:lang(ar){
            padding-left: 14px;
            padding-right: 0;
        }


        img{
            border-radius: 4px;
            height: 100%;
            object-fit: cover;
            opacity: 1 !important;
            &.flex-active{
                border: 1px solid #9b9b9b;
            }
        }

    }
}

.pswp__caption__center{
    display: none;
}