// Woocommerce notices

.woocommerce-error, .woocommerce-info, .woocommerce-message{
    border-top: 0;
    background-color: #fafafa;
    font-size: 14.5px;
    margin-bottom: 0;
    line-height: 1.8;
    margin-bottom: 2rem;
    position: relative;
    padding: .9em 1.5em .9em 3.5em;
    padding-left: 2.5em;
    outline: none;

    &::before{
        color: $main;
        position: absolute;
        content: "";
        height: 100%;
        width: 5px;
        top: 0; left: 0;
        background-color: $main-darker;
        
    }
}

.woocommerce-message{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .button{
        float: right;
        order: 2;
    }

    &:before{
        background-color: rgb(75, 214, 168);
    }
    
}

.woocommerce-error{

    li{
        margin-bottom: 9px;
        font-size: 14px;

        &:last-child{
            margin-bottom: 0;
        }
        strong{
            font-weight: 600;
        }
    }

    &::before{
        background-color: rgb(255, 75, 75);
    }
}

.woocommerce-notices-wrapper{
    outline: none;
    border: none;

    ul{
        border: 0;
        outline: none;
    }
}