// woocommerce Quantity 

.woocommerce .quantity {
    height: 3rem;
    border: 1px solid #ddd;
    outline: none;
    display: inline-block;
    padding: 2px 6px;

    transition: all .3s ease;
    

    &:hover{
       border: 1px solid #797979;
    }

    button{
        background-color: transparent;
        border: 0;
        outline: none;
        font-size: 15.5px;
        cursor: pointer;

        &:first-child{
            padding-right: 0;
        }
        &:last-child{
            padding-left: 0;
        }
        &:hover{
            color: $main;
        }

    }

    .qty{
        min-width: 51px;
        border: 0;
        outline: none;
        height: 100%;
        font-size: 14.5px;
        width: 58px;

    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}
