.quick-view-content {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 100vh; width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;

    &.visible{

        opacity: 1;
        visibility: visible;

        .wrapper{

            transform: translateY(0);
            opacity: 1;
        }
    }

    .wrapper{

        max-width: 950px;
        width: 90%;
        background-color: white;
        height: 520px;
        position: relative;
        box-shadow: 0 0 30px 10px rgba(68, 68, 68, 0.2);
        transition: all .4s ease;
        transform: translateY(40px);
        opacity: 0;
        border-radius: 5px;
        overflow: hidden;
        
        @media (max-width:800px){
            overflow: initial;
            overflow-y: scroll;
        }

        .close{
            position: absolute;
            top: 1.5rem; right: 1.2rem;
            z-index: 5;

            a{
                color: #0d425e;
                font-size: 24px;

                line-height: 1;
                font-weight: 700;
                &:hover{
                    color: crimson;
                }
            }
        }

        .product-hrzn{
            height: 100%;

            >.product{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                height: 100%;
                width: 100%;
                overflow: hidden;
                @media (max-width:800px){
                    overflow: initial;
                    overflow-y: scroll;
                }
    
                >.images{
                    width: 49%;
                    opacity: 1 !important;
                    margin-bottom: 0;
                    height: 100%;
    
                    @media (max-width:800px){
                        width: 100%;
                        height: 460px;
                    }
    
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                >.summary{
                    width: 49%;
                    height: 520px;
                    overflow: auto;
                    box-sizing: border-box;
    
                    @media (max-width:800px){
                        width: 100%;
                        height: auto;
                        overflow: initial;
                    }

                    .summary-content{
                        padding: 2.5rem 2.5rem 1rem 1.7rem;

                        @media (max-width: 800px){
                            padding-right: 1.7rem;
                        }

                        h1.product_title{
                            font-weight: 700;
                            line-height: 1.5;
                            font-size: 35px;
                            margin-top: 0;
                            color: #0d425e;
                            margin-bottom: 1rem;
                            margin-top: 1.5rem;
            
                            &:lang(ar){
                                font-weight: 700;
                                font-size: 35px;
                                @media (max-width:550px){
                                    font-size: 32px;
                                }
                            }
            
                            @media (max-width:550px){
                                font-size: 25px;
                            }
                        }
            
                        .price{
                            color: #062637;
                            color: $main-darker;
                            margin: .5rem 0 0rem;
                            font-size: 20px;
                            font-weight: 500;
            
                            &:lang(ar){
                               
                                font-size: 20px;
                                font-weight: 600;
                            }
            
                            ins{
                                text-decoration: none;
                                font-weight: 400;
                            }
        
                            del{
                                color: #598aa4;
                                opacity: 0.7;
                                padding-right: 0.3em;
                                font-weight: 300;
                            }
            
                        }
            
                        p.stock{
                            font-size: 16px; 
                            color: green;
            
                            &.out-of-stock{
                                color: red ;
                            }
                        }
            
                        .woocommerce-product-rating{
        
                            font-size: 14px;
                            margin: .5rem 0;
                            
                            .star-rating{
                                color: #ffc107;
                                overflow: hidden;
                                position: relative;
                                height: 1em;
                                line-height: 1;
                                font-size: 1em;
                                width: 5.4em;
                                font-family: WooCommerce;
                                display: inline-block;
        
                                span{
                                    overflow: hidden;
                                    float: left;
                                    top: 0;
                                    left: 0;
                                    position: absolute;
                                    padding-top: 1.5em;
                                }
        
                                span::before {
                                    content: "SSSSS";
                                    top: 0;
                                    position: absolute;
                                    left: 0;
                                    font-family: WooCommerce;
                                    line-height: 1;
                                    font-size: 1em;
                                }
                                strong, .rating{
                                    display: none;
                                }
                            }
        
                            a{
                                color: $text;
                                font-weight: 300;
                            }
                        }
            
                        .woocommerce-product-details__short-description{
                            margin-bottom: 1rem;
                            margin-top: .5rem;
                            p{
                                font-weight: 300;
                                line-height: 1.99;
                                font-size: 15px;
                                color: rgb(113, 113, 113);
                                color: #111111;
            
                                &:lang(ar){
                                    font-size: 16.5px;
                                    font-weight: 400;
            
                                    @media (max-width:550px){
                                        font-size: 15.5px;
                                    }
                                }
            
                                @media (max-width:550px){
                                    font-size: 14px;
                                    color: black;
                                    line-height: 1.9;
                                }
                            }
            
                            ul{
                                font-size: 14.5px;
                                color: #636363;
                                padding-left: 0px;
                                padding-right: 0;
                                font-weight: 300;
                                line-height: 1.7;
            
                                &:lang(ar){
                                    font-size: 16px;
                                    font-weight: 400;
                                    @media (max-width:550px){
                                        font-size: 15.5px;
                                    }
                                }
            
                                @media (max-width:550px){
                                    font-size: 14px;
                                    color: black;
                                    line-height: 1.9;
                                }
            
                                li{
                                    list-style: none;
                                    margin: 2px 0;
                                    font-weight: 400;
            
                                    &:lang(ar){
            
                                        &::before{
                                            margin-right: 0;
                                            margin-left: 6px;
                                        }
                                    }
                                    &::before{
                                        content: "\eb7b";
                                        font-family: remixicon !important;
                                        font-style: normal;
                                        display: inline-block;
                                        margin-right: 6px;
                                        color: #0d425e;
                                        font-weight: 800;
                
                                    }
                                }
            
                            }
                        }
            
                        form.cart{
                            margin-top: .5rem;
                            flex-wrap: wrap;
            
                            table.group_table{
                                margin-bottom: 1.5rem;
                                width: 100%;
            
                                a.button{
                                    font-size: 13.7px;
                                }
            
                                tr{
                                    &:last-child{
                                       td{
                                        border-bottom: 1px solid #e3e3e3;
                                       }
                                    }
                                }
            
                                td{
                                    vertical-align: middle;
                                    text-align: left;
                                    padding: 17px 0;
                                    border-top: 1px solid #e3e3e3;
                                    &:first-child{
                                        min-width: 10em;
                                    }
            
                                    &.woocommerce-grouped-product-list-item__label{
                                        label{
                                            font-size: 14.9px;
                                            a{
                                                &:hover{
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                    }
            
                                    &.woocommerce-grouped-product-list-item__price{
                                        text-align: right;
            
                                        p.stock.out-of-stock{
                                            font-size: 14px;
                                        }
            
                                        del{
                                            color: $main;
                                        }
                                        ins{
                                            text-decoration: none;
                                        }
            
                                        span{
                                            font-size: 14.5px;
                                            color: $text;
                                            color: $main;
                                            font-weight: 500;
                                        }
                                    }
            
                                    div.quantity{
                                        margin-bottom: 0;
                                        border-radius: 100px;
                                    }
                                }
                            }
            
                            .variations{
                                width: 100%;
                                margin-bottom: 0rem;
            
                                tr{
                                    
                                    &:has(td select#pa_taille),
                                    &:has(td select#pa_couleur){
                                       display: none;
                                    }
            
                                    &:nth-child(even){
                                        background-color: transparent;
                                    }
            
                                    &:first-child{
            
                                        th{
                                            margin-top: 0;
                                        }
                                    }
            
                                    &:last-child{
            
                                        th, td{
                                            margin-bottom: 0;
                                        }
                                    }
            
                                }
            
                                th, td{
                                    line-height: normal;
                                    padding: 5px 0;
                                }
            
                                th{
                                    text-align: left;
                                    font-weight: 500;
                                    margin: 0rem 0 .7rem;
                                    color: #062637;
            
                                    &:lang(ar){
                                        text-align: right;
                                        
                                    }
            
                                    label{
                                        font-size: 15px;
                                        font-weight: 600;
                                        line-height: 1;
                                        display: block;
                                        margin-bottom: 0px;
                                        color: #0d425e;
                                        text-transform: capitalize;
                                        padding: 10px;
                                    }
                                }
            
                                td{
                                    position: relative;
                                    border: 0px solid #ddd;
                                    border-radius: 6px;
                                    display: inline-block;
                                    margin-bottom: 0rem;
                                    width: 100%;
            
                                    .reset_variations{
                                       color: crimson;
                                       transition: none;
            
                                       &::before{
                                            content: "\eb99";
                                            display: inline-block;
                                            font-family: remixicon !important;
                                            font-style: normal; 
                                            transition: transform .3s ease;
                                            transform: rotate(0deg);
                                       }
                                       &:hover{
            
                                            &::before{
                                                transform: rotate(90deg);
                                            
                                            }
                                        }
                                    }
            
                                    &::after{
                                        content: "\ea4e";
                                        display: inline-block;
                                        font-family: remixicon !important;
                                        font-style: normal; 
                                        padding-top: 0px;
                                        position: absolute;
                                        right: 8px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        font-size: 18px;
                                        display: none;
                                    }
            
                                    &:lang(ar){
            
                                        &::after{
                                            right: auto;
                                            left: 8px;
                                        }
                                    }
            
                                    select{
                                        width: 100%;
                                        padding: 0 18px ;
                                        height: 3rem;
                                        border: none;
                                        outline: none;
                                        -moz-appearance: none; 
                                        -webkit-appearance: none; 
                                        appearance: none;
                                        color: #0d425e;
                                        font-size: 14.2px;
                                        background-color: #F5F9FB !important;
                                    }
                                }
                                
                            }
            
                            .horizon-bulk-taille-variations{
                                
                                margin: 0rem 0 1.7rem;
            
                                .label{
                                    margin-bottom: 1rem;
                                    font-weight: 500;
                                    font-size: 16px;
                                }
            
                                button{
                                    margin-right: .5rem;
                                    height: 3rem;
                                    min-width: 3rem;
                                    border: 0;
                                    cursor: pointer;
                                    border-radius: 3px;
                                    position: relative;
            
                                    &.selected{
                                        background-color: #111111;
                                        color: white;
                                    }
            
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%) rotate(45deg);
                                        height: 99%;
                                        width: 1.5px;
                                        background-color: rgb(22, 22, 22);
                                        display: none;
            
                                    }
            
                                    &.close{
                                        opacity: .5 !important;
                                        cursor: default !important;
                                        border: 2px solid #fff !important;
            
                                        &::before{
                                            display: block;
                                        }
            
                                    }
            
                                }
            
                            }
            
                            .horizon-bulk-couleur-variations{
                                
                                margin: 0rem 0 1.7rem;
            
                                .label{
                                    display: block;
                                    margin-bottom: 1rem;
                                    font-weight: 500;
                                    font-size: 16px;
                                }
            
                                button{
                                    margin-right: .5rem;
                                    height: 35px;
                                    width: 35px;
                                    border: 0;
                                    box-shadow: 0 0 1px 1px #bcbcbc;
                                    transition: all .1s ease-in-out;
                                    border: 3.9px solid #fff;
                                    cursor: pointer;
                                    border-radius: 100px;
                                    position: relative;
            
                                    &.selected{
                                       
                                        border-color: #616161;
                                        border-color: #808080;
                                        box-shadow: none;
                                    }
            
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%) rotate(45deg);
                                        height: 90%;
                                        width: 1px;
                                        background-color: rgb(45, 45, 45);
                                        display: none;
            
                                    }
            
                                    &.close{
                                        opacity: .2 !important;
                                        cursor: default !important;
                                        border: 2px solid #fff !important;
            
                                        &::before{
                                            display: block;
                                        }
            
                                    }
            
                                }
            
                            }
            
                            .clear-attribute-producto{
                                margin-bottom: 1.3rem;
                                //display: none;
                                a{
                                    visibility: visible;
                                    transition: all .3s ease;
                                    color: crimson;
                                    display: block;
            
                                    &:hover{
            
                                        i{
                                            transform: rotate(90deg);
                                          
                                        }
                                    }
            
                                    i{
                                        font-size: 16px;
                                        transition: all .3s ease;
                                        transform: rotate(0deg);
                                        display: inline-block;
                                    }
                                }
                            }
            
                            div.quantity{
                                margin-right: 5px;
                                height: 3.2rem ;
                                margin-bottom: .5rem;
                                text-align: center;
        
                                border: 1px solid #ddd;
                                outline: none;
                                display: inline-block;
                                padding: 2px 6px;
        
                                transition: all .3s ease;
                                
        
                                &:hover{
                                border: 1px solid #797979;
                                }
        
                                button{
                                    background-color: transparent;
                                    border: 0;
                                    outline: none;
                                    font-size: 15.5px;
                                    cursor: pointer;
        
                                    &:first-child{
                                        padding-right: 0;
                                    }
                                    &:last-child{
                                        padding-left: 0;
                                    }
                                    &:hover{
                                        color: $main;
                                    }
        
                                }
        
                                .qty{
                                    min-width: 51px;
                                    border: 0;
                                    outline: none;
                                    height: 100%;
                                    font-size: 14.5px;
                                    width: 58px;
                                    text-align: center;
        
                                }
                                /* Chrome, Safari, Edge, Opera */
                                input::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }
        
                                /* Firefox */
                                input[type=number] {
                                    -moz-appearance: textfield;
                                }
            
                                &:lang(ar){
                                    margin-left: 10px;
                                    margin-right: 0;
                                    
                                }
            
                                @media (max-width:550px){
                                   margin-bottom: 1rem;
                                   height: 3rem;
                                }
                            }
            
                            button.button{
                                height: 3.2rem ;
                                background-color: $main;
                                background-color: #ffc107;
                                font-family: $inter;
                                border-radius: 0;
                                transition: all .3s ease;
                                padding: 0 50px !important;
                                font-weight: 700;
                                font-size: 13.5px;
                                border-radius: 4px;
                                letter-spacing: .2px;
                                text-transform: uppercase;
                                color: black !important;
                                cursor: pointer;
                                border: 0px solid black !important;
                                width: 100%;
        
            
                                @media (max-width:550px){
                                    font-size: 13px;
                                    width: 100%;
                                }
            
                                &::before{
                                    content: "\f120";
                                    font-family: remixicon !important;
                                    font-style: normal;
                                    margin-right: 10px;
                                }
            
                                &:lang(ar){
            
                                    &::before{
                                    
                                        margin-left: 10px;
                                        margin-right: 0;
                                    }
            
                                }
            
                                &:hover{
                                    background-color: $main-darker;
                                    color: white !important;
                                }
                            }
            
                            button.buy_now_button{
                                margin: .4rem 0;
                                background-color: transparent;
                                border: 1.1px solid #000000;
                                color: #111111 !important;
                                font-size: 14.5px;
                                border-radius: 4px;
                                font-weight: 600;
                                min-width: calc(70% + 140.65px);
            
                                @media (max-width:550px){
                                    font-size: 13px;
                                    width: 100%;
                                    min-width: 100%;
                                }
            
                                &::before{
                                    content: "\f11a";
                                    font-family: remixicon !important;
                                    font-style: normal;
                                    margin-right: 10px;
                                    font-size: 18px;
                                }
            
                                &:lang(ar){
            
                                    &::before{
                                    
                                        margin-left: 10px;
                                        margin-right: 0;
                                    }
            
                                }
            
                                &:hover{
                                    background-color: $main;
                                    color: white !important;
                                    border: 1px solid $main;
                                }
                            }
                        }
            
                        .product_meta{
                            border-top: 1px solid #ebebeb;
                            padding: 1rem 0;
                            margin-top: 1rem;
            
                            >span{
                                display: block;
                                margin: 13.8px 0;
                                font-size: 14.5px;
                                color: black;
                                @media (max-width:550px){
                                    font-size: 14px;
                                }
            
                                &:lang(ar){
                                    font-size: 15.5px;
                                    margin: 6px 0;
                                }
            
                                a,span{
                                    color: #767676;
                                }
                                a{
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }

                    }
    
                }
            }
        }

    }
}