//  Reviews 
.woocommerce #reviews {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    #comments  {
        width: 47%;


        @media (max-width: 900px){
            width: 100%;
            margin-bottom: 1rem;
        }
    
        h2{
            font-size: 20px;
            font-weight: 600;
            margin: 1.5rem 0 2.3rem;
            line-height: 1.55;
        
            @media (max-width:550px){
                font-size: 18px;
            }
        }
        
        
        ol.commentlist{
            padding: 0 0rem;
        
            li{
                border-bottom: 1px solid #ececec;
        
                img.avatar{
                    height: 50px;
                    width: 50px;
                    border-radius: 100px;
                    border: 0;
                    background-color: transparent;
                    padding: 0;
        
                }
        
                .comment-text{
                    margin: 0 0 0 60px;
                    border: 0;
                    padding-top: 0rem;
        
                    @media (max-width:550px){
                        margin: 0 0 0 50px;
                    }
        
        
                    .star-rating{
                        
                        color: $main;
                        color: #FFC107;
                        font-size: 15px;

        
                        @media (max-width:550px){
                            font-size: 14px;
                        }
                    }
        
                    p.meta{
        
                    
        
                        .woocommerce-review__author{
        
                            font-weight: 500;
                            font-size: 15px;
                            text-transform: capitalize;
                            color: black;
                        }
        
                        span{
                            display: none;
                        }
        
                        time{
                            display: block;
                        }
                    }
        
                    .description{
                        padding-right: 0rem;
                        p{
                            font-size: 14.5px;
                            line-height: 1.99;
        
                        }
                    }
                }
            }
        }

    }

    .clear{
        display: none;
    }

    #review_form_wrapper{
        width: 48%;
        @media (max-width: 900px){
            width: 100%;
        }
    }

}


.woocommerce #review_form #respond{


    #reply-title{
        padding: 1rem;
        border: 1px solid black;
        display: inline-block;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 1.6;
        display: none;
    }


    form{
        padding: 2rem;
        background-color: #fafafa;
        border-radius: 5px;

        @media (max-width: 550px){
            padding: 1rem;
        }

        >p{
            clear: both;
        }

        .comment-form-rating{

            display: flex;
            align-items: center;
            margin-bottom: .5rem;

            .stars{
                margin-bottom: 0;
                color: $main;
                color: #FFC107;

                span{
                    display: inline-block;
                    line-height: 1;
                }
            }
            label{
              
              margin-right: 10px;
            }
        }

        .comment-form-author{
            width: 48%;
            float: left;
            clear: none;
            margin-bottom: 1rem;

            label{
                display: block;
            }

            input{
                width: 100%;
            }
        }

        .comment-form-email{
            width: 48%;
            float: right;
            clear: none;
            label{
                display: block;
            }

            input{
                width: 100%;
            }
        }

        .comment-form-cookies-consent{
            display: none;
        }

        .form-submit{
            margin-top: 1rem;

            input{
                border-radius: 3px;
                background-color: black;
                color: white;

                transition: all .3s ease;
                font-weight: 500;
                height: 3.1rem;
                font-size: 14px;
                min-width: 10rem;

                &:hover{
                    background-color: $main-darker;

                }
            }
        }
    }
}


// Woocommerce Start rating

.woocommerce .star-rating{

    span{

        font-family: 'star' !important;
    }
}


// Additional Information

.woocommerce .woocommerce-Tabs-panel--additional_information{

    table.shop_attributes{
        border-collapse: collapse;
        border-top: 0;
        td{
            font-style: normal;
            background-color: transparent !important;
            border: 0;
            color: black;
            border-left: 1px solid #f0f0f0;
            padding-left: 1.3rem;

            &:lang(ar){
                padding-right: 1.3rem;
                padding-left: 0;
                text-align: right;
                border-right: 1px solid #f0f0f0;
                border-left: 0;
            }
            p{
                color: black;
                font-weight: 400;
            }
        }

        th{
            text-align: left;
            background-color: transparent !important;
            border: 0 ;
            font-size: 15.5px;
            font-weight: 400;
            color: black;
            opacity: .6;
            padding-left: 1.3rem;

            &:lang(ar){
                padding-right: 1.3rem;
                padding-left: 0;
                text-align: right;
            }
            
        }

        tr{
            background-color: transparent !important;
            border: 1px solid #f0f0f0 !important;
            border-bottom: 0;
            min-height: 3.2rem;

            &:last-child{
                border-bottom: 1px solid #f0f0f0;
            }
        }
    }
}

.woocommerce div.product .woocommerce-tabs .panel{

    p{
        font-size: 15px;
    }
}