// On sale Flash

.woocommerce span.onsale{
    padding: 8px 12px ;
    border-radius: 0px;
    font-weight: 500;
    min-height: auto;
    line-height: 1.5;
    margin: 0 !important;
    background-color: rgb(19, 19, 19);
    background-color: transparent;
    background-color: white;
    font-size: 12px;
    letter-spacing: .5px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    top: 13px;
    left: 13px;

}