// Tabs 
.woocommerce-page div.product .woocommerce-tabs{

    width: 100%;
    max-width: 1250px;
    margin: auto auto 5rem;

    @media (max-width:550px){
        width: 100%;
    }

    ul.tabs{
        padding: 0; 
         margin-bottom: 2.2rem;

        &::before{
            border-bottom: 2px solid #eaeaea;
            border-bottom: 0;
        }

        li{
            border: none;
            background-color: transparent ;
            background-color: #f5f5f5;
            margin-right: .6rem;
            border-radius: 0;
            margin-bottom: .8rem;
            line-height: 1.6;

            &:lang(ar){
                margin-right: 0;
                margin-left: .6rem;
            }
            
            a{
                font-weight: 500;
                padding: 1em .9em;
                text-transform: uppercase;
                font-size: 13px;
                letter-spacing: 1.1px;

                @media (max-width:550px){
                    font-size: 12.3px;
                }
               
            }

            &::before, &::after{
                display: none;
            }

            &.active{
                border-bottom: 0;
                background-color: $main;
                background-color: #d6d6d6;
                color: rgb(0, 0, 0);
            }
        }
    }

    .panel{

        >h2{
            font-weight: 600;
            font-size: 21px;
            margin: 1.7rem 0 ;
            display: none;
        }
    }
}