// Tabs 
.woocommerce-page div.product .woocommerce-tabs{

    width: 100%;
    max-width: 1290px;
    margin: auto auto 3rem;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 2.3rem;

    @media (max-width:550px){
        width: 100%;
    }

    ul.tabs{
        padding: 0; 
         margin-bottom: 2.5rem;


        &::before{
            border-bottom: 1px solid #eaeaea;
        }

        li{
            border: none;
            background-color: transparent ;
            margin-right: 1.7rem;
            margin-left: 0;
            border-radius: 0;
            line-height: 1.6;
            padding: 0;
            opacity: 1;

            &:lang(ar){
                margin-right: 0;
                margin-left: .6rem;
            }
            
            a{
                font-weight: 500;
                padding: 1em 0;
                text-transform: uppercase;
                font-size: 12.9px;
                letter-spacing: 1px;
                text-align: initial;
                opacity: .5;
                color: #111;

                @media (max-width:550px){
                    font-size: 12.3px;
                }

                &:hover{
                    opacity: 1;
                    color: #111;
                }
               
            }

            &::before, &::after{
                display: none;
            }

            &.active{
                border-bottom: 2px solid #111;
                color: #111;
                a{
                    opacity: 1;
                }
            }
        }
    }

    .panel{

        >h2{
            font-weight: 600;
            font-size: 21px;
            margin: 1.7rem 0 ;
            display: none;
        }
    }
}