@mixin siteLoaderOut() {
    @keyframes siteLoaderOut {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: translateY(20px);
        }
    }

    animation: siteLoaderOut .6s;

}
