section.blog.middle{

    .container{

        max-width: 670px;
        position: relative;

        .article{

            .share{
                
                @media (min-width:970px){
    
                    position: sticky;
                    transform: translateX(280%);
                    top: 20rem;
                    bottom: 0;
                    flex-direction: column;
                    justify-content: center;
                    float: right;             
                    margin-top: -100%;
                    margin-bottom: 5rem;
    
                    ul{
                        flex-direction: column;
                        padding-left: 0 !important;
                        padding-top: .5rem;
                    }
    
                    span{
                        writing-mode: vertical-lr;
                    }
                }
    
            }
        }

    }
}