section.blog{

    padding: 2rem 0;
    .container{
        position: relative;

        .article{

            .tags{
                .post-categories{
                    padding: 0;
                    list-style: none;
                    
                    li{
                        display: inline-block;
                        margin-right: 5px;
                        a{
                            padding: 5.5px 12px;
                            color: $grey;
                            font-size: 11px;
                            border: 1px solid $grey;
                            border-radius: 22px;
                            text-transform: uppercase;
                            font-weight: 500;
    
                            &:hover{
                                background-color: #fafafa;
                                
                            }
                        }
                    }
    
                }
            }
    
            h1{
                font-size: 2.4rem;
                margin: 1.5rem 0;
                line-height: 1.5;
    
            }
    
            .post-details{
    
                color: $grey;
                font-size: 14.5px;
                margin-bottom: 1.3rem;
                display: flex;
                align-items: center;
    
                .ball{
                    padding: 0 9px;
                    font-size: 16px;
                }
    
                a{
                    &:hover{
                        color: $main;
                    }
                }
                
            }
    
            .share{
                display: flex;
                align-items: center;
                margin-bottom: .8rem;
    
                span{
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                }
                
    
                ul{
                    list-style: none;
                    display: flex;
                    margin: 0;
                    padding-left: .8rem;
                    li{
                        margin: 0rem .6rem;
                        font-size: 21px;
                        color: $main;
    
                        a{
                            &:hover{
                                color: black;
                            }
                        }
                    }
                }
    
            }
    
            .thumbnail{
    
                height: 20rem ;
                margin-bottom: 1rem;
                clear: both;
    
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

        }
    }
}