section.related-posts-single{
    margin-bottom: 3rem;

    .container{

        >h3{
            color: $main;
            margin: 1.9rem 0;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 0;
            letter-spacing: .5px;
        }

        ul{
            padding-left: 0;
            list-style: none;
        }
    }
}