section.blog-archive-grid{
    padding: 4rem 0;

    .container{

       
       


        .archive{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 2rem;
            flex-wrap: wrap;

            @media (max-width:900px){

                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

            }

            @media (max-width:550px){

                grid-template-columns: 1fr;
                grid-template-rows: auto;

            }

            .card{
                border-radius: 0;
               
            }

            .pagination-nav-links{
                grid-column: 1/4 ;
                margin-top: 0rem;

                @media (max-width:900px){
                    grid-column: 1/3;
                }

                @media (max-width:550px){
                    grid-column: 1/2;
                }
            }

        }

    }
}