section.blog-archive-list{
    padding: 4rem;

    .container{

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;


        .archive{
            width: 65%;

            .card{
                border-radius: 0;
            }

        }

        aside{
            width: 27%;
        }
    }
}