
.all{

    height: 100%;
    min-height: 100vh;
    background-color: white;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 1.3rem ;
    
        h1{
            font-size: 1.9rem;
            font-weight: 600;
        }
    
        ul{
            display: flex;
            li{
                margin-left: 1rem;
                a{
                    font-size: 1rem;
                }
            }
        }
    }
    
    .quick-start{
        border: 1px solid #e3e3e3;
        margin: 1rem;
        padding: 1.3rem;
        border-radius: 4px;

        >span{
            font-size: 1rem;
            font-weight: 600;
            color: rgb(93, 93, 93);
            
        }
    
        ul{
            padding: 0;
            margin-top: 1rem;
            li{
                padding: 1.2rem 1.2rem;
                margin-bottom: .9rem;
                display: flex;
                align-items: center;
                background-color: #E1F1FF;
                border-radius: 5px;

                &:last-child{
                    margin-bottom: 0;
                }
    
                >span{
                    margin-right: 1rem;
                    padding: 1rem;
                    background-color: #11D090;
                    color: white;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.6rem;
                    height: 1.6rem;
                    font-size: 1.3rem;
                }
    
                div{
                    h2{
                        margin-top: 0;
                        color: #424d57;
                        font-size: 16px;
                        margin-bottom: .8rem;
                    }
                    p{
                        margin-bottom: 0;
                        color: #56606a;
                        a{
                            font-size: 13px;
                            text-decoration: underline;
                        }
                    }
                }
    
                >a{
                    margin-left: auto;
                    background-color: #277CBA;
                    padding: .8rem 1.7rem;
                    color: white;
                    font-size: 13px;
                    border-radius: 4px;
                    &:hover{
                        color: #00ffaa;
                    }
                }
            }
        }
    }

}