

body{

    background-color: #F0F0F2;
    padding: 0;
}


.container{
    max-width: 1020px;
    margin: auto;
    width: 90%;
}

#wpbody-content{
    height: 100%;
    min-height: 100vh ;
}


a{
    font-size: 15px;
    text-decoration: none;
    color: #4C4C4E;
    font-weight: 400;
    transition: all .2s ease;
    
}


#wpcontent{
    padding-left: 0;

}


.footer{

    padding: .8rem 0;
    border-top: 1px solid #E3E3E5;
    margin-top: 2rem;
}