body.woocommerce-cart{

    header{
        .mini-cart{
            >ul li:last-child{
                display: none;
            }
        }
    }

    .woocommerce-notices-wrapper, .return-to-shop , .wc-empty-cart-message{
        max-width: 1245px;
        margin: 0rem auto 1rem;
        width: 90%;

        .woocommerce-message{
            margin-bottom: 0rem;
        }
    }

    section.heading-cart{
        position: relative;
        color: rgb(0, 0, 0);
        height: 13.5vw;
        display: flex;
        align-items: center;
        overflow: hidden;
        margin-bottom: 1.5rem;
        background-color: #fafafa;


        @media (max-width: 800px){
            height: 23vw;
        }

        @media (max-width: 550px){
            height: 30vw;
            margin-bottom: 1.5rem;
        }

        .container{
            margin: 0 auto 0rem;
        }


        img{
            position: absolute;
            top: 0%;
            right: 0;
            width: 100vw;
            height: 100%;
            z-index: -1;
            object-fit: cover;
            display: none;
        }

        h1{
            font-size: 47px;
            margin: 0 0 0rem;
            text-align: center;
            @media (max-width: 550px){
                font-size: 42px;
            }

        }

    }

    .woocommerce-message{
        display: none;
        
    }


    .cart-all-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        margin: 1.5rem auto 4rem;
        max-width: 1290px !important;
        width: 90%;

        .woocommerce-notices-wrapper{
            width: 100%;
            margin-bottom: 2rem;
            max-width: 1290px !important;

            
        }

        button[name="update_cart"],
        input[name="update_cart"] {
            display: none !important;
        }

        >form{
            width: 62%;
            //width: 100%;
            margin-bottom: 1.7rem;


            @media (max-width:1050px){
                width: 100%;
            }

            table{
                border-bottom: 0;
                border-top: 0;

                @media (max-width:800px){

                    &.shop_table_responsive{
                        thead{
                           display: block;

                            tr{
                                    display: flex;
                                    justify-content: space-between;
                                    font-size: 12px;
                            }

                           th{
                                padding-left: 0;
                                font-size: 12px;
                           }

                           .product-quantity,
                           .product-remove{
                                display: none;
                           }

                        }
    
                        tbody{
                            tr{
    
                                display: flex;
                                flex-wrap: wrap;

                                display: grid;
                                grid-template-columns: 96px 2fr 1fr;

                                border-top: 1px solid rgba(0, 0, 0, .1);
    
                                td{
    
                                    display: table-cell;
                                    text-align: left !important;
                                    border: 0;
                                    padding:19px 10px;

                                    &.product-remove{
                                       
                                        padding-left: 0;
                                        order: 6;
                                        
                                        width: 100%;
                                        display: flex;
                                        justify-content: end;
                                        align-items: start;
                                        padding-top: 15px;
                                        a{
                                            text-align: right;
                                            width: 1.2rem;
                                            height: 1.2rem;
                                        }


                                    }

                                    &::before{
                                        display: none;
                                    }

                                    &.product-quantity{
                                        order: 4;
                                        grid-column: 1 / 3;
                                        padding-left: 0;
                                        padding-top: 2px;
                                    }

                                    &.product-name{
                                        padding-right: 0;

                                        a{
                                            font-size: 15.5px;
                                            padding-right: .5rem;
                                        }
                                    }

                                    &.product-thumbnail{
                                        width: 95px;
                                        padding: 14px 0;
                                        
                                    }
                                    
                                    &.product-subtotal{
                                        margin-left: auto;
                                        padding-right: 0;
                                        padding-left: 0;
                                        display: block;
                                        text-align: right !important;
                                        font-size: 14px;
                                        bdi{
                                            text-wrap: wrap;
                                            display: block;
                                        }

                                        @media (max-width:550px){
                                            span{
                                                display: block;
                                            }
                                        }

                                        &::before{
                                            display: none;
                                        }
                                    }

                                    &.actions{

                                       padding : 22px  0;
                                       grid-column: 1 / 4;

                                        .coupon{
                                            display: flex;
                                            margin-bottom: .7rem;
                                            button{
                                                width: auto;
                                                font-size: 13px;
                                            }
                                        }

                                        button.button{
                                            width: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                thead{

                    th{
                        border-bottom: 1px solid #ddd;
                        text-transform: uppercase;
                        font-size: 13px;
                        padding: 20px 0px 20px 12px;
                        color: rgb(95, 95, 95);
                        font-weight: 500;


                        &.product-subtotal{
                            text-align: right;
                            
                        }

                        &.product-price{
                            display: none;
                        }

                    }
                }

                tbody{

                    @media (min-width:800px){

                        tr{
                            &:first-child{
    
                                td{
                                    border-top: 0;
                                }
                            }
                        }
                    }

                    td{
                        font-size: 13.7px;
                        padding: 22px 0px 22px 12px;

                        a{
                            &:hover{
                                //text-decoration: underline;
                                color: $main;
                            }
                        }

                        &.product-remove{
                            width: 2.3rem;
                            text-align: left;
                            padding-left: 6px;
                            a{
                                width: 1.2rem;
                                height: 1.2rem;
                                overflow: hidden;
                                color: black;


                                &:hover::before{
                                    color: red;
                                }

                                &::before{

                                    content: "\ec22";
                                    font-family: remixicon !important;
                                    font-style: normal;
                                    display: inline-block;
                                    width: 1.2rem;
                                    height: 1.2rem;
                                    color: black;
                                    font-weight: 300;
                                    transition: all .3s ease;
                                    font-size: 17px;

                                }

                            }

                        }

                        &.product-name{
                            max-width: 15rem;
                            line-height: 1.89;
                            vertical-align:top;
                            padding-right: 1rem;

                            a{
                                font-size: 14.5px;
                                font-weight: 500;
                                display: block;
                                margin-bottom: .3rem;
                                line-height: 1.8;
                            }

                            .price{
                                
                                ins{
                                    
                                    text-decoration: none;
                                }
                                del{
                                    display: none;
                                }
                            }

                            .variation{
                                margin-top: .4rem;
                                p{
                                    margin-top: 0;
                                }
                            }
                        }

                        &.product-quantity{
                            vertical-align: top;
                        }

                        &.product-subtotal{
                            min-width: 10px;
                            vertical-align: top;
                            font-size: 15px;
                            color: black;
                            font-weight: 400;
                            text-align: right;
                        }

                        &.product-thumbnail{
                            width: 110px;
                            a{
                                display: flex;
                                align-items: center;

                                img{
                                    width: 90px;
                                    height: 90px;
                                    background-color: #fafafa;
                                }
                            }
                        }

                        &.product-price{
                            display: none !important;
                        }

                        &.actions{

                            padding: 22px 0 0;
                            >button{

                                background-color: $main;
                                color: white !important;
                                font-weight: 400;
                                padding: 0 18px !important;
                                transition: all .3s ease;
                                height: 3.2rem;
                                
                                &::before{
                                    content: "\f064";
                                    font-family: remixicon !important;
                                    font-style: normal;
                                    margin-right: 12px;
                                    font-size: 17px;

                                }

                                &:lang(ar){
                                    
                                    &::before{

                                        margin-right: 0;
                                        margin-left: 12px;
                                    }
                                }
                                
    
                                &:hover{
                                    background-color: $main-darker;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }

        .cart-collaterals{
            width: 33%;
            //width: 40%;
            padding: 2.3rem 2.2rem;
            margin-left: auto;
            background-color: #f8f8f8;
            border-radius: 10px;
            border-radius: 7px;
            border: 1px solid #ddd;
            background-color: #fbfbfb9e;

            &:lang(ar){
                        
                 margin-left: 0;       
            }

            @media (max-width:1050px){
                width: 100%;
                padding: 2.2rem 1.5rem;

            }

            .cart_totals{
                width: 100%;
                float: none;

                >h2{
                    margin: .1rem 0 1.7rem;
                    font-weight: 600;
                }

                td{
                    text-align: right;

                }

                ul#shipping_method .amount{
                    font-weight: 600;
                }

                strong{
                    font-weight: 600;
                }

                td, th{
                    font-size: 14.7px;
                    padding: 22px 0;
                    line-height: 1.75;

                    @media (max-width:550px){
                        font-size: 14px;
                    }
                }
            }

        }

    }

}