body.woocommerce-checkout{

    header{
        .mini-cart{

            >ul li:last-child{
                display: none;
            }
        }
    }

    main > .woocommerce{
        max-width: 1290px;
        margin: 1.5rem auto 4rem;
        width: 90%;


        form.checkout{
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
            align-items: flex-start;
            flex-wrap: wrap;

            .woocommerce-NoticeGroup{
                width: 100%;
            }

            .form-row{
                margin-bottom: 1.1rem;

                label{
                    line-height: 2.35;
                    font-size: 14.5px;
                }
            }

            #customer_details{
                width: 56%;

                @media (max-width:900px){
                    width: 100%;
                }

                .checkout-inline-error-message{
                    display: none;
                }

                >div{
                    width: 100%;
                    margin-bottom: 1.5rem;

                    .form-row-first, 
                    .form-row-last {
                        width: 48.5% !important;
                    }
                }

                .col-1{
                    .woocommerce-billing-fields{

                        > h3{
                            display: none;
                        }

                        #billing_address_2_field{
                            display: none  !important;
                        }
                    }
                }

                .col-2{
                    display: none;
                }
            }

            div.right-checkout-container{
                width: 39%;
                padding: 2.5rem ;
                background-color: #f9f9f9d6;
                background-color: #eef3f5;
                border-radius: 7px;

                @media (max-width:900px){
                    width: 100%;
                    padding: 1.7rem;
                }

                @media (max-width:550px){
                    width: 100%;
                    padding: 1rem;
                }

                table{
                    border-top: 0;

                    thead{
                        display: none;
                    }

                    tbody, tfoot{
                        tr td{
                            &:last-child{
                                text-align: right;
                            }
                        }
                    }

                    tbody{
                        td{
                            color: #0d425e;
                            color: black;
                        }
                    }

                    tfoot{

                        tr th , td{
                            color: #0d425e;
                        }
                        tr.shipping {
                            text-align: left;

                            td {
                                padding-right: 0;
                                ul#shipping_method{
    
                                    text-align: left;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
    
                                    li{
                                        margin-bottom: 0.55rem;
                                        font-size: 14.5px;
                                        line-height: 2;
                                        padding: .55rem .8rem;
                                        background-color: rgb(251, 251, 251);
                                        border-radius: 8px;

                                        &:last-child{
                                            margin-bottom: 0;
                                        }
                                        
                                        display: flex;
                                        align-items:baseline;
    
    
                                        label{
                                            font-size: 14.5px;
                                            margin-left: 3px;
                                        }
    
                                        input{
                                            margin-right: 8px;
                                        }

                                        .amount{
                                            font-weight: 600;
                                            margin-left: 5px;
                                        }
                                    }
                                }
                            } 
                        }
                    }
                }

                #order_review_heading{
                    font-size: 27px;
                    margin: 0.5rem 0 2rem;
                    font-weight: 700;
                    color: #0d425e;

                    @media (max-width:550px){
                        margin-top: 1rem;
                    }

                }

                #payment{
                    background-color: transparent;
                    margin-top: 2rem;

                    ul.payment_methods{
                        padding: 0 0 .2rem;

                        li{
                            margin: 8px 0;

                            label{
                                font-size: 15.5px;
                                font-weight: 500;
                            }
                        }
                    }

                    div.payment_box{
                        background-color: white;
                        padding: 1.3rem;
                        border-radius: 5px;

                        &::before{
                            border: 1em solid white;
                            border-right-color: transparent;
                            border-left-color: transparent;
                            border-top-color: transparent;
                        }
                        p{
                            margin-top: 0;
                            line-height: 1.85;
                            font-size: 14.5px;
                        }
                    }

                    div.form-row {
                        padding: 1em 0 0;
                    }

                    .woocommerce-terms-and-conditions-wrapper{
                        margin-bottom: 1.5rem;
                        p{
                            line-height: 1.9;
                            margin-top: .3rem;
                            font-size: 15px;
                            a{
                                color: $main;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }

                    #place_order{
                        width: 100%;

                    }

                }
            }
        }
    }
}


// Coupon

.woocommerce-form-coupon-toggle{
    margin-top: 2rem;
}

.woocommerce form.checkout_coupon{

    padding: 0rem 0;
    border: 0;
    margin: 0;
    padding-bottom: 0;
    transition: none !important;

    p{

        &:first-child{
            width: 100%;
            margin-top: 0;
        }

        &.form-row-first{
            width: 49%;
        }

        &.form-row-last{
            margin-left: 0px;
            width: 51%;
            padding-left: 6px;

        }

        input{
            transition: none;


            &::placeholder{
                transition: none !important;
            }
        }
    }
}
