.woocommerce .products ul, .woocommerce ul.products{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.8rem 1.5rem;

    @media (max-width:850px){
        gap: 1.15rem 1.2rem;
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width:550px){
        gap: 1.15rem 1.2rem;
        grid-template-columns: 1fr ;
    }

    &::before{
        display: none;
    }

    li.product{
        width: 100% !important;
        margin: 0% !important;
        position: relative;
        overflow: hidden;

        &:hover{
    
            .img{

                //opacity: .7;

                img{
                    transform: scale(1.12);
                }
            }

            a.button, a.added_to_cart{
                right: 14px;
            }

            .woocommerce-loop-product__title{
                //text-decoration: underline;
            }
        }
    
        .img{
            background-color: #f2f2f2;
            overflow: hidden;
            transition: all .3s ease;
            position: relative;
            height: 20.5vw;


            @media (min-width: 1000px){
                max-height: 270px;
            }
            @media (max-width:900px){
                height: 40vw;
            }

            @media (max-width:900px){
                height: 46.5vw;
            }

            @media (max-width:550px){
                height: 80vw;
            }

        
            .onsale{
                top: 12px !important;
                left: 12px;
                right: auto;
                margin: 0%;


            }

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all .3s ease;
            }
        }
    
        .woocommerce-loop-product__title{
            font-weight: 500;
            font-size: 16.2px !important;
            line-height: 1.8;
            margin-bottom: .4rem;
            transition: all .3s ease;
            margin-top: .25rem;

            &:lang(ar){
                font-size: 17px !important;
                font-weight: 600;
            }

            @media (max-width:550px){
                font-size: 16px !important;

                &:lang(ar){
                    font-size: 18px !important;
                    font-weight: 700;
                }
            }

        }
    
        .price{
            font-size: 14.8px;
            font-weight: 500;
            color: rgb(69, 69, 69);
            color: #169543;
            color: #2e45fd;

            @media (max-width:550px){
                font-size: 14px;
            }

            ins{
                font-weight: 400 ;
                text-decoration: none;
            }
        }
    
        a.button{
            position: absolute;
            top: calc(270px - 60px);
            right: 14px;
            right: -50px;
            transition: all .3s ease;
            background-color: transparent;
            border-radius: 0px;
            font-size: 17px;
            padding: 0px 0px !important;
            color: black;
            text-align: center;
            margin-top: .6em;
            white-space:nowrap;
            width: 35px;
            height: 35px;

            overflow: hidden;

            @media (max-width:900px){
                top: calc(46.5vw - 60px);
            }

            @media (max-width:550px){
                top: calc(80vw - 60px);
            }

            &.added{
                display: none;
            }

            &::after{
                display: none;
            }

            &::before{
                content: "\f120";
                font-family: remixicon !important;
                font-style: normal;
                display: inline-block;
                font-weight: 300;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: black;
                color: white;
                border-radius: 5px;
                transition:  all .3s ease;

                
            }


            &:hover{
                &::before{
                    background-color: #ddd;
                    color: rgb(63, 63, 63);
                }
            }

        }

        a.added_to_cart{
            position: absolute;
            top: calc(270px - 60px);
            right: 14px;
            right: -50px;
            transition: all .3s ease;
            background-color: transparent;
            border: 0px solid #ddd;
            border-radius: 0px;
            font-size: 17px;
            padding: 0px 0px !important;
            color: black;
            text-align: center;
            margin-top: .6em;
            white-space:nowrap;
            width: 35px;
            height: 35px;

            overflow: hidden;

            @media (max-width:900px){
                top: calc(46.5vw - 60px);
            }

            @media (max-width:550px){
                top: calc(80vw - 60px);
            }

            &::before{
                content: "\eb7b";
                font-family: remixicon !important;
                font-style: normal;
                display: inline-block;
                font-weight: 300;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: black;
                color: white;
                border-radius: 5px;
                transition:  all .3s ease;
            }

            &:hover{
                &::before{
                    background-color: #ddd;
                    color: rgb(63, 63, 63);
                }
            }


        }

        &.outofstock{
            &:hover{

    
                a.button, a.added_to_cart{
                    right: 14px;
                }
            }
            a.button{
                position: absolute;
                top: calc(270px - 60px);
                right: 14px;
                right: -50px;
                transition: all .3s ease;
                background-color: transparent;
                border-radius: 0px;
                font-size: 17px;
                padding: 0px 0px !important;
                color: black;
                text-align: center;
                margin-top: .6em;
                white-space:nowrap;
                width: 35px;
                height: 35px;
    
                overflow: hidden;
    
                @media (max-width:900px){
                    top: calc(46.5vw - 60px);
                }
    
                @media (max-width:550px){
                    top: calc(80vw - 60px);
                }
    
                &.added{
                    display: none;
                }
    
                &::after{
                    display: none;
                }
    
                &::before{
                    content: "\ecb5";
                    font-family: remixicon !important;
                    font-style: normal;
                    display: inline-block;
                    font-weight: 300;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    transition:  all .3s ease;
                }
    
                &:hover{
                    &::before{
                        background-color: #ddd;
                        color: rgb(63, 63, 63);
                    }
                }
    
            }
        }

        &.product-type-variable{
            &:hover{

    
                a.button, a.added_to_cart{
                    right: 14px;
                }
            }
            a.button{
                position: absolute;
                top: calc(270px - 60px);
                right: 14px;
                right: -50px;
                transition: all .3s ease;
                background-color: transparent;
                border-radius: 0px;
                font-size: 17px;
                padding: 0px 0px !important;
                color: black;
                text-align: center;
                margin-top: .6em;
                white-space:nowrap;
                width: 35px;
                height: 35px;
    
                overflow: hidden;
    
                @media (max-width:900px){
                    top: calc(46.5vw - 60px);
                }
    
                @media (max-width:550px){
                    top: calc(80vw - 60px);
                }
    
                &.added{
                    display: none;
                }
    
                &::after{
                    display: none;
                }
    
                &::before{
                    content: "\eeba";
                    font-family: remixicon !important;
                    font-style: normal;
                    display: inline-block;
                    font-weight: 300;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    transition:  all .3s ease;
                }
    
                &:hover{
                    &::before{
                        background-color: #ddd;
                        color: rgb(63, 63, 63);
                    }
                }
    
            }
        }

        &.product-type-grouped{
            &:hover{
    
                a.button, a.added_to_cart{
                    right: 14px;
                }
            }
            a.button{
                position: absolute;
                top: calc(270px - 60px);
                right: 14px;
                right: -50px;
                transition: all .3s ease;
                background-color: transparent;
                border-radius: 0px;
                font-size: 17px;
                padding: 0px 0px !important;
                color: black;
                text-align: center;
                margin-top: .6em;
                white-space:nowrap;
                width: 35px;
                height: 35px;
    
                overflow: hidden;
    
                @media (max-width:900px){
                    top: calc(46.5vw - 60px);
                }
    
                @media (max-width:550px){
                    top: calc(80vw - 60px);
                }
    
                &.added{
                    display: none;
                }
    
                &::after{
                    display: none;
                }
    
                &::before{
                    content: "\ee90";
                    font-family: remixicon !important;
                    font-style: normal;
                    display: inline-block;
                    font-weight: 300;
                    width: 35px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: black;
                    color: white;
                    border-radius: 5px;
                    transition:  all .3s ease;
                }
    
                &:hover{
                    &::before{
                        background-color: #ddd;
                        color: rgb(63, 63, 63);
                    }
                }
    
            }
        }

    }

}

