// ** Product Categories

.wc-block-product-categories{

    ul{
        padding: 0;
        list-style: none;
        margin: 0rem 0;
        li{
            margin: 15px 0;
            font-size: 14.5px;
            color: rgb(60, 60, 60);

            a{

                &:hover{
                    color: $main;
                }
            }
        }
    }
}


// ** Filter by Price

.wp-block-woocommerce-price-filter{

    button.wc-block-components-filter-submit-button {
        border-radius: 3px;
    }
}